<p class="ueberschrift">Einschätzungsaufgabe: Kaffeeernte</p>
<p>Nachfolgend werden Ihnen 3 Fragen zum eben gelesenen Textabschnitt ("Kaffeeernte") gestellt. Jede dieser 3 Einschätzungsfragen bezieht sich auf einen Unterabschnitt zur Kaffeeernte.</p>
<p>Bitte geben Sie für jede dieser 3 Fragen die Wahrscheinlichkeit an, mit der Sie diese in einem Erinnerungstest vollständig aus dem Gedächtnis beantworten könnten. 
Versuchen Sie Ihre zukünftige Gedächtniseinschätzung möglichst genau anzugeben.</p>
<p>Sie haben deswegen für jede Einschätzung 60 Sekunden Zeit. Nehmen Sie sich diese Zeit - dann geht es automatisch weiter mit der nächsten Einschätzungsfrage. Falls Sie vorher fertig sind, warten Sie solange oder verändern Sie ggf. noch Ihre Einschätzung.</p>
<p>Klicken Sie bitte auf "Weiter", wenn Sie bereit sind. Dann geht es unmittelbar los.</p>