<p class="ueberschrift">Additionsaufgabe</p>

<p>Im Folgenden gilt es, für 30 Sekunden ein- und zweistellige Additionsaufgaben zu lösen. 
Geben Sie die Antwort in das dafür vorgesehene Feld unterhalb der Additionsaufgabe ein. 
Mit der "ENTER-Taste" bestätigen Sie ihre Eingabe. Danach erscheint sofort die nächste zu lösende Gleichung.</p>
<p>Klicken Sie bitte auf "Weiter", dann geht es unmittelbar los.</p>