<p class="ueberschrift">Gedächtnistest: Kaffeeverarbeitung</p>
<p>Nachfolgend werden Sie einen Gedächtnistest nur zu dem  zuletzt gelesenen Textabschnitt zur "Kaffeeverarbeitung" bearbeiten (NICHT aber zum gesamten Text).</p>
<p>Der Textabschnitt zur "Kaffeeverarbeitung"  bestand selbst wiederum aus 3 Textrubiken - Sie sollen die Informationen aus allen drei Rubriken zur "Kaffeeverarbeitung" so gut und genau wie möglich erinnern.</p>
<p>Hierfür haben Sie 9 bis 12 Minuten Zeit. Nach frühestens 9 Minuten können Sie fortfahren, wenn Sie die Aufgabe vollständig bearbeitet haben. Nach 12 Minuten geht es automatisch weiter.
Wenn Sie vorher fertig sind, versuchen Sie sich weiter an den Textabschnitt zu erinnern oder warten Sie bis die 9 Minuten abgelaufen sind.</p>
<p>Ihre Antwort sollte zwischen 400 und 2.800 Zeichen umfassen, sodass die Anzahl der von Ihnen geschriebenen Zeichen grün erscheint.</p>
<p>Klicken Sie bitte auf "Weiter", wenn Sie bereit sind. Dann geht es unmittelbar los.</p>