<p class="ueberschrift">Kaffeeernte</p>
<p>Nachfolgend werden Sie den zweiten Textabschnitt zum Thema "Kaffeeernte" lesen.</p>
<p>Sie haben dafür 9 Minuten Zeit. <b>Prägen Sie sich die im Text dargebotenen Informationen möglichst gut ein.</b></p>
<p>Klicken Sie bitte auf "Weiter", wenn Sie bereit sind. Dann geht es unmittelbar los.</p>