<p class="ueberschrift">Gleichungen bewerten</p>

<p>In dieser Aufgabe erscheinen mathematische Gleichungen auf dem Bildschirm,
  die Sie durchrechnen sollen. Diese Gleichungen können korrekt sein (z.B. <i>(4 ÷ 1) + 2 = 6</i>) oder nicht
  (z.B. <i>(5 x 2) / 3 = 4</i>). Ihre Aufgabe ist es, jede Gleichung zu beurteilen, indem Sie auf eine
  Taste drücken, um anzugeben, ob sie korrekt ist oder nicht (&larr; = ja, &rarr; = nein).</p> 
  
<p>Wenn Sie auf "Weiter" klicken, startet die Aufgabe.</p>