<p class="ueberschrift">Enkodierung</p>

<p>Im Folgenden werden 15 Nomen für jeweils 3 Sekunden nacheinander auf dem Bildschirm präsentiert.</p>
 
<p>Versuchen Sie, sich alle diese 15 Nomen einzuprägen - nach einer kurzen Aufgabe im Anschluss sollen Sie sich an diese 15 Nomen erinnern.</p> 
  
<p>Wenn Sie auf "Weiter" klicken, startet die Aufgabe.</p>