<p class="ueberschrift">Gedächtnistest</p>

<p>Versuchen Sie nun, die 15 gelernten Nomen in beliebiger Reihenfolge zu erinnern. Schreiben Sie dabei jedes erinnerte Wort einzeln in das Textfeld und drücken Sie auf ENTER. 
Sie haben für diese Aufgabe insgesamt 2 Minuten Zeit. Danach geht es automatisch weiter.
</p> 
  
<p>Wenn Sie auf "Weiter" klicken, startet die Aufgabe.</p>