<p class="ueberschrift">Gedächtnisaufgabe</p>

<p>Die folgende Aufgabe besteht aus zwei Teilen. Im ersten Teil erscheinen Gleichungen auf dem Bildschirm,
  die Sie durchrechnen sollen. Diese Gleichungen können korrekt sein (z.B. <i>(4 ÷ 1) + 2 = 6</i>) oder nicht
  (z.B. <i>(5 x 2) / 3 = 4</i>). Ihre erste Aufgabe ist es, jede Gleichung zu beurteilen, indem Sie auf eine
  Taste drücken, um anzugeben, ob sie korrekt ist oder nicht (&larr; = ja, &rarr; = nein). Nach dieser Entscheidung
  sehen Sie eine Ziffer auf dem Bildschirm. Ihre zweite Aufgabe ist es, sich diese Ziffer zu merken, um sie später
  wiederholen zu können.</p>
  <p>Nach zwei bis sechs Gleichungen (die Sie beurteilen sollen) und Ziffern (die Sie sich merken sollen) sehen Sie ein Fenster
  mit sechs leeren Feldern. Wenn das passiert, geben Sie die Ziffern ein, an die Sie sich erinnern. Oft ist es einfacher,
  die Ziffern in der Reihenfolge aufzuschreiben, in der sie präsentiert wurden, aber das ist nicht unbedingt notwendig.
  Bitte verwenden Sie nur ein Feld pro Ziffer. Nachdem Sie alle Ziffern, an die Sie sich erinnern, eingetragen haben,
  können Sie die nächste Runde starten, indem Sie auf "Weiter" klicken.</p> 
  
<p>Wenn Sie auf "Weiter" klicken, startet die Aufgabe.</p>