<p class="ueberschrift">Gedächtnistest: Kaffee</p>
<p>Nachfolgend werden Ihnen erneut Fragen zum Thema "Kaffee" gestellt.</p>
<p>Sie haben diesmal für alle Fragen zusammen so viel Zeit, wie sie benötigen, allerdings mindestens 10 und maximal 15 Minuten. Wenn Sie eine Frage beantwortet haben, können Sie nicht zu dieser zurückkehren. Wenn Sie die letzte Frage beantwortet haben, aber die 10 Minuten noch nicht abgelaufen sind, können Sie noch nicht fortfahren. Der "Weiter"-Button bei der letzten Frage erscheint automatisch nach 10 Minuten.</p>
<p>Jede Ihrer Antworten sollte zwischen 400 und 2.800 Zeichen umfassen, sodass die Anzahl der von Ihnen geschriebenen Zeichen grün erscheint.</p>
<p>Klicken Sie bitte auf "Weiter", wenn Sie bereit sind. Dann geht es unmittelbar los.</p>