<p class="ueberschrift">Zucker</p>
<p>Nachfolgend werden Sie den Text zum Thema "Zucker" erneut lesen.</p>
<p>Dieses Mal werden Ihnen auf der linken Seite die Überschriften der Unterabschnitte des Textes als Schaltflächen präsentiert. Sobald Sie auf eine dieser Schaltflächen klicken, erscheint auf der rechten
Seite der entsprechende Text zum gewählten Unterabschnitt.</p>
<p><b>Prägen Sie sich die im Text dargebotenen Informationen möglichst gut ein.</b> Sie haben dieses Mal so viel Zeit, wie Sie benötigen. Klicken Sie den "Weiter"-Button bitte erst, wenn sich alle Informationen der Unterabschnitte gut eingeprägt haben.</p>
<p>Klicken Sie bitte auf "Weiter", wenn Sie bereit sind. Dann geht es unmittelbar los.</p>