<p class="ueberschrift">Zucker</p>
<p>Nachfolgend werden Sie den Text zum Thema "Zucker" erneut lesen.</p>
<p>Sie haben dafür 10 Minuten Zeit. <b>Prägen Sie sich die im Text dargebotenen Informationen möglichst gut ein.</b></p>
<p>Klicken Sie bitte auf "Weiter", wenn Sie bereit sind. Dann geht es unmittelbar los.</p>