<p class="ueberschrift">Gedächtnistest: Kaffee</p>
<p>Nachfolgend werden Ihnen Fragen zum Thema "Kaffee" gestellt.</p>
<p>Für jede Frage haben Sie 80 Sekunden Zeit. Danach geht es automatisch mit der nächsten Frage weiter. Wenn Sie eine Frage beantwortet haben, können Sie nicht zu dieser zurückkehren. Versuchen Sie, die Fragen so gut und genau wie möglich zu beantworten.</p>
<p>Jede Ihrer Antworten sollte zwischen 140 und 960 Zeichen umfassen, sodass die Anzahl der von Ihnen geschriebenen Zeichen grün erscheint.</p>
<p>Klicken Sie bitte auf "Weiter", wenn Sie bereit sind. Dann geht es unmittelbar los.</p>