<p class="ueberschrift">Gedächtnistest: Zucker</p>
<p>Nachfolgend wird Ihnen eine Frage zum Thema "Zucker" gestellt.</p>
<p>Für die Beantwortung dieser Frage haben Sie 12 Minuten Zeit. Danach geht es automatisch weiter. Versuchen Sie, die Frage so gut und genau wie möglich zu beantworten.</p>
<p>Ihre Antwort sollte zwischen 1.250 und 8.750 Zeichen umfassen, sodass die Anzahl der von Ihnen geschriebenen Zeichen grün erscheint.</p>
<p>Klicken Sie bitte auf "Weiter", wenn Sie bereit sind. Dann geht es unmittelbar los.</p>