<p class="ueberschrift">Ihre Einschätzung</p>

<p>Nachfolgend werden Ihnen die zuletzt gelernten 6 Definitionen erneut jeweils nacheinander für <b>5 Sekunden</b> präsentiert.</p>

<p>Geben Sie bitte für jede Definition an, wie wahrscheinlich (0 % bis 100 %) es ist, dass Sie sich in wenigen Minuten die vollständige Definition erinnern können. Geben Sie die Einschätzung bitte jeweils zügig ab, da nach 5 Sekunden automatisch die nächste Definition erscheint.</p>

<p>Klicken Sie bitte auf "Weiter", wenn Sie bereit sind. Dann geht es unmittelbar los.</p>