<p class="ueberschrift">Abrufaufgabe</p>

<p>Nun folgt ein Gedächtnistest aller heute gelernten Listen, also der Listen 4, 5 und 6.</p>

<p>Alle 18 Fachbegriffe werden Ihnen nacheinander dargeboten. Ihre Aufgabe ist es, die entsprechende Definition zu erinnern und möglichst vollständig in das Textfeld einzugeben.</p> 

<p>Für jede Definition haben Sie 30 Sekunden Zeit. Erst nach Ablauf dieser 30 Sekunden wird der nächste Fachbegriff dargeboten. Versuchen Sie also bitte diese Zeit zu nutzen und warten Sie ggf. bis der nächste Fachbegriff automatisch erscheint.</p>

<p>Klicken Sie bitte auf "Weiter", wenn Sie mit dem Gedächtnistest beginnen wollen.</p>