<p class="ueberschrift">Abrufaufgabe</p>

<p>Nun folgt ein Gedächtnistest der <b>zuletzt gelernten</b> Liste aus 2 Definitionen!</p>

<p>Alle Fachbegriffe werden Ihnen nacheinander dargeboten. Ihre Aufgabe ist es, die entsprechende Definition zu erinnern und möglichst vollständig in das Textfeld einzugeben.</p> 

<p>Für jede Definition haben Sie 30 Sekunden Zeit. Erst nach Ablauf der Zeit wird die nächste Definition dargeboten.</p>

<p>Klicken Sie bitte auf "Weiter", wenn Sie mit dem Gedächtnistest beginnen wollen.</p>