<p class="ueberschrift">Wiederholungsaufgabe</p>

<p>Nachfolgend werden Ihnen die 6 Definitionen aus der zweiten Liste von Definitionen erneut nacheinander präsentiert.</p>

<p>Jede Definition besteht aus einem Fachbegriff und einer dazugehörigen Erklärung und wird jeweils für 30 Sekunden in der Mitte des Bildschirms dargeboten. Nach dieser Zeit wird automatisch die nächste Definition dargeboten. <b>Prägen Sie sich die dargebotenen Definitionen erneut möglichst gut ein.</b></p>

<p>Klicken Sie bitte auf "Weiter", wenn Sie bereit sind. Dann geht es unmittelbar los.</p>