<p class="ueberschrift">Lernphase 4</p>

<p>Herzlich willkommen zurück! Vor der Pause haben Sie drei Listen, bestehend aus jeweils sechs Definitionen gelernt. Heute werden Sie drei <b>neue</b> Listen lernen. Auch diese drei Listen bestehen wieder aus jeweils sechs Definitionen. Sie lernen heute also die Listen 4 bis 6.</p>

<p>Nachfolgend werden Ihnen die 6 Definitionen aus der vierten Liste von Definitionen nacheinander präsentiert.</p><p>Jede Definition wird jeweils für 30 Sekunden in der Mitte des Bildschirms dargeboten. Nach dieser Zeit wird automatisch die nächste Definition dargeboten. <b>Prägen Sie sich die dargebotenen Definitionen möglichst gut und vollständig ein.</b></p>

<p>Klicken Sie bitte auf "Weiter", wenn Sie bereit sind. Dann geht es unmittelbar los.</p>