<p class="ueberschrift">Lernphase: Übungsdurchgang</p>

<p>Sie durchlaufen nun zunächst einen Übungsdurchgang, in dem Sie zwei Definitionen lernen werden.</p>

<p>Jede Definition wird jeweils für 30 Sekunden in der Mitte des Bildschirms dargeboten.</p>

<p><b>Prägen Sie sich die dargebotenen Definitionen möglichst gut und vollständig ein. Sie sollen alle Bestandteile und Begriffe einer Definition möglichst vollständig und genau wiedergeben können. </b></p>

<p>Klicken Sie bitte auf "Weiter", wenn Sie bereit sind. Dann geht der Übungsdurchgang unmittelbar los.</p>