<p class="ueberschrift">Lernphase 3</p>

<p>Nachfolgend werden Ihnen die 6 Definitionen aus der dritten Liste von Definitionen nacheinander präsentiert.</p><p>Jede Definition wird jeweils für 30 Sekunden in der Mitte des Bildschirms dargeboten. Nach dieser Zeit wird automatisch die nächste Definition dargeboten. <b>Prägen Sie sich die dargebotenen Definitionen möglichst gut und vollständig ein.</b></p>

<p>Klicken Sie bitte auf "Weiter", wenn Sie bereit sind. Dann geht es unmittelbar los.</p>