<p class="ueberschrift">Wissensabfrage</p>

<p>Nachfolgend werden Ihnen alle 18 Definitionen noch einmal nacheinander präsentiert.</p>

<p>Ihre Aufgabe ist es, für jede Definition anzugeben, wie viel Prozent der Erklärung Ihnen bereits <b>vor</b> der Teilnahme an diesem Experiment bekannt waren. Dazu bewegen Sie den Schieberegler, der Ihnen angezeigt wird.</p>

<p>Sie haben für jede Definition so viel Zeit, wie Sie mögen. Drücken Sie auf die LEERTASTE, sobald Sie Ihre Angabe gemacht haben und mit der nächsten Definition fortfahren möchten.</p>

<p>Klicken Sie bitte auf "Weiter", wenn Sie bereit sind. Dann geht es unmittelbar los.</p>