<p class="ueberschrift">Gedächtnistest: Kaffeeernte</p>
<p>Nachfolgend wird Ihnen eine Frage zum eben gelesenen Textabschnitt zur "Kaffeeernte" gestellt.</p>
<p>Versuchen Sie, die Frage <b>so gut und genau wie möglich</b> zu beantworten. Für die Beantwortung dieser Frage haben Sie 9 Minuten Zeit. Danach geht es automatisch weiter. Wenn Sie vorher fertig sind, versuchen Sie sich weiter an den Textabschnitt zu erinnern oder warten Sie bis die 9 Minuten abgelaufen sind.</p>
<p>Ihre Antwort sollte zwischen 400 und 2.800 Zeichen umfassen, sodass die Anzahl der von Ihnen geschriebenen Zeichen grün erscheint.</p>
<p>Klicken Sie bitte auf "Weiter", wenn Sie bereit sind. Dann geht es unmittelbar los.</p>