<p class="ueberschrift">Weitere Gedächtnistests</p>
<p>Nachfolgend werden Sie zwei weitere Gedächtnistests bearbeiten. Im ersten Gedächtnistest sollen Sie möglichst vollständig alle Informationen wiedergeben, die sich auf den ersten Textabschnitt zur "Kaffeepflanze" beziehen. 
Danach folgt noch ein Gedächtnistest, der sich auf den zweiten Textabschnitt zur "Kaffeeernte" bezieht. Versuchen Sie, sich jeweils so gut und genau wie möglich an die Textabschnitte zu erinnern.</p>
<p>Versuchen Sie, die beiden Fragen <b>so gut und genau wie möglich</b> zu beantworten. Für die Beantwortung dieser Fragen haben Sie jeweils 9 Minuten Zeit. Danach geht es automatisch mit der nächsten Frage weiter. Wenn Sie vorher fertig sind, versuchen Sie sich weiter an den Textabschnitt zu erinnern oder warten Sie bis die 9 Minuten abgelaufen sind.</p>
<p>Ihre Antworten sollten jeweils zwischen 400 und 2.800 Zeichen umfassen, sodass die Anzahl der von Ihnen geschriebenen Zeichen grün erscheint.</p>
<p>Klicken Sie bitte auf "Weiter", wenn Sie bereit sind. Dann geht es unmittelbar los.</p>