<p class="ueberschrift">Gedächtnistest: Kaffeepflanze</p>
<p>Nachfolgend werden Ihnen 3 Fragen zum eben gelesenen Textabschnitt gestellt.</p>
<p>Für die Beantwortung dieser Fragen haben Sie jeweils 3 Minuten Zeit. Wenn die Zeit abgelaufen ist, gelangen Sie automatisch zur nächsten Frage. Versuchen Sie, die Fragen so gut und genau wie möglich zu beantworten.</p>
<p>Ihre Antworten sollten jeweils zwischen 133 und 933 Zeichen umfassen, sodass die Anzahl der von Ihnen geschriebenen Zeichen grün erscheint.</p>
<p>Klicken Sie bitte auf "Weiter", wenn Sie bereit sind. Dann geht es unmittelbar los.</p>