<p class="ueberschrift">Abrufaufgabe</p>

<p> Nun folgt ein Gedächtnistest der zuletzt gelernten Wortliste aus 12 Wörtern! Tippen Sie bitte in beliebiger Reihenfolge jedes Wort ein, an das Sie sich aus der zuletzt gelernten Wortliste erinnern können. </p>

<p> Tippen Sie bitte jedes einzelne Wort in das dafür vorgesehene Antwortfeld und drücken Sie nach Eingabe jedes Wortes auf die ENTER-Taste. </p> 

<p> Für diese Aufgabe haben Sie insgesamt 72 Sekunden Zeit. Nach Ablauf der Zeit werden Sie automatisch weitergeleitet. </p>

<p> Klicken Sie bitte auf "Weiter", wenn Sie mit der Abrufaufgabe beginnen wollen. </p>