<p class="ueberschrift">Lernphase 6</p>

<p>Nachfolgend werden Sie 12 <b>neue</b> Wörter der nächsten Wortliste lernen. Jedes Wort wird Ihnen für <b>5½</b> Sekunden präsentiert.</p> 
<p><b> Prägen Sie sich die einzelnen Wörter möglichst gut ein! </b> </p> 

<p>Klicken Sie bitte auf "Weiter", wenn Sie bereit sind. Dann geht es unmittelbar los.</p>