<p class="ueberschrift">Lernphase 1</p>

<p>Nachfolgend werden Sie die 12 Wörter der ersten Wortliste lernen. Jedes Wort wird Ihnen für <b>5½</b> Sekunden präsentiert.</p> 
<p><b> Prägen Sie sich die einzelnen Wörter möglichst gut ein! </b> </p> 
<p>
Während der folgenden Lernphase erhalten Sie zu einem zufälligen Zeitpunkt die Frage, woran Sie aktuell denken. Sie werden gefragt, ob Ihre Aufmerksamkeit auf dem zu lernenden Wort lag
 oder aber Ihre Aufmerksamkeit von der Lernaufgabe zu anderen Gedanken abgeschweift ist, wie bspw. "Was mache ich heute Abend?" oder "Wann ist die nächste Klausur?". Dieses sogenannte
 "Gedankenabschweifen" ist ganz natürlich und es wird erwartet, dass dies auch bei Ihnen im Laufe des Experimentes vorkommen wird. Von Zeit zu Zeit werden
 Sie also auch einmal an andere Dinge außerhalb des Experiments denken - dies ist weder gut noch schlecht, sondern völlig normal.</p>
 
 <p>
 Wir sind daran interessiert, ob und wie häufig dieses Gedankenabschweifen vorkommt und wir möchten Ihre aktuelle Aufmerksamkeit beim Lernen messen. 
 Es werden beim Lernen der Wortlisten zufällig Fragen auftauchen. Sie werden dann gefragt, woran Sie unmittelbar vor Erscheinen der Frage gedacht haben. Dabei wird es folgende Auswahlmöglichkeiten geben:
</p>

<p>
(1)  <b>Vergangenes oder Zukünftiges</b>: Bezieht sich auf Gedanken, die persönlichen Ereignissen in der Vergangenheit angehören oder in der Zukunft liegen und damit außerhalb der Lernsituation verortet sind. 
Beispielsweise: "Gestern habe ich nicht gut geschlafen", "Morgen habe ich eine Klausur", "Ich muss direkt nach dem Experiment los", "Habe ich mein Handy ausgeschaltet?".
</p>

<p>
(2) <b>Aktuelles Befinden</b>: Bezieht sich auf Gedanken, die das eigene aktuelle Befinden betreffen, aber nichts direkt mit der Lernaufgabe bzw. dem zu lernenden Wort zu tun haben. Beispielsweise: 
"Ich habe Hunger", "Wie lange dauert das Experiment noch?", "Das Experiment ist langweilig", "Ich bin müde", "Ich werde mich später nicht an viel erinnern".
</p>

<p>
(3) <b>Aufgabenbezogenes</b>: Bezieht sich auf Gedanken, die mit dem aktuell zu lernenden Wort zu tun haben, aber über dieses hinausgehen. Beispielsweise wenn man versucht, 
das zu lernende Wort mit zuvor gelernten Wörtern zu verknüpfen, oder wenn man eine Eselsbrücke baut, um sich mehrere Wörter besser merken zu können, oder sich eine Strategie ausdenkt, um sich das aktuelle Wort besser einzuprägen, usw.
</p>

<p>
(4) <b>Aufgabe</b>: Bezieht sich auf Gedanken, die direkt das aktuell zu lernende Wort beinhalten. Beispielsweise wenn man das betreffende Wort liest oder versucht, sich dieses Wort per Wiederholung einzuprägen.
</p>

<p>
Sobald Sie die Frage nach ihren aktuellen Gedanken erhalten, drücken Sie bitte die entsprechende Taste (1, 2, 3 oder 4) auf Ihrer Tastatur (nicht auf dem Ziffernblock). Das heißt, Sie drücken die
<br/>"1", wenn Sie unmittelbar zuvor an "Vergangenes oder Zukünftiges" gedacht haben.
<br/>"2", wenn Sie unmittelbar zuvor an Ihr "Aktuelles Befinden" gedacht haben.
<br/>"3", wenn sie unmittelbar zuvor an "Aufgabenbezogenes" gedacht haben.
<br/>"4", wenn Sie unmittelbar zuvor an die "Aufgabe" gedacht haben.
<br/> 
Die vier Antwortmöglichkeiten werden Ihnen dann noch einmal präsentiert. Seien Sie bereit, die für Sie passende Ziffer zu drücken.
</p>


<p>Klicken Sie bitte auf "Weiter", wenn Sie bereit sind. Dann geht es unmittelbar los.</p>