<h1 align="left">Zucker</h1>
 <h2 align="left">Gesellschaftlicher Aspekt</h2>
 <p align="left"> Jede/r Deutsche isst täglich etwa 100 Gramm Zucker. Dies entspricht ungefähr dem Vierfachen der empfohlenen Tagesdosis. Der jährliche Konsum pro Kopf in Deutschland nahm seit 1995 sogar jedes Jahr um 400 Gramm zu. Ein Grund hierfür liegt an den versteckten Zuckern, die bereits in fertigen Produkten enthalten sind. Diese werden von den Verbrauchern teilweise nicht-bewusst zu sich genommen. Ärzte sehen im erhöhten Zuckerkonsum einen Grund für das Dickerwerden vieler Menschen. Die Süßwarenindustrie macht dabei ein gutes Geschäft und kam 2009 auf einen Umsatz von rund 13 Milliarden Euro in Deutschland. </p>
 <p align="left">Die Weltgesundheitsorganisation hat 2015 eine striktere Leitlinie für den versteckten Anteil an Zucker in der Ernährung eingeführt: höchstens 5%. D.h. ein Erwachsener sollte pro Tag nicht mehr als 25 Gramm versteckte Zuckeranteile zu sich nehmen. Allein in einer Dose Limonade sind bereits durchschnittlich zehn Teelöffel Zucker enthalten. Es wird daher eine bessere Kennzeichnung des versteckten Zuckergehalts in Speisen und Getränken gefordert sowie eine eingeschränkte Werbung für zuckerhaltige Lebensmittel, die an Kinder adressiert sind. Es gibt allerdings keinen Hinweis darauf, dass der natürliche Zuckergehalt in Obst, Gemüse und Milch gesundheitsschädlich sei. </p>
 <p align="left">Die Zucker- und die Süßwarenindustrie sieht das anders und schaltet Werbespots für ein positives Image in der Öffentlichkeit: beispielsweise wird Coca Cola mit sportlicher Aktivität in Verbindung gebracht, aber nicht mit Übergewicht. Seit einiger Zeit experimentiert Coca Cola daher mit natürlichen Süßungsmitteln wie dem der Pflanze Stevia rebaudiana: sie ist ca. 300 mal süßer als Zucker und dennoch extrem kalorienarm. <i>Coca Cola life</i> ist ein Gemisch aus Zucker und Stevia. Diese grünen Variante von Cola ist jedoch nur minimal gesünder enthält lediglich ein Drittel weniger Zucker als das Original. </p>

<h2 align="left">Geschichte</h2>
 <p align="left"> Die Ausbreitung des Zuckers begann mit der Entdeckung Amerikas durch Christoph Kolumbus. An Bord eines der ersten Schiffe nahmen sie Zuckerrohrsetzlinge mit. Diese konnten v.a. im tropisch-warmen Klima in der Karibik wachsen und gedeihen. Allerdings war die Arbeit auf dem Feld anstrengend. Um u. a. auf amerikanischen Plantagen zu arbeiten, wurden mehr als 10 Millionen Sklaven nach Amerika verschifft. In den folgenden 400 Jahren entwickelte sich ein Dreieckshandel auf dem Atlantik: Zucker kam von Amerika nach Europa; Waffen und Branntwein u.a. von Europa nach Afrika und Sklaven von Afrika nach Amerika. </p>
 
 <p align="left">Friedrich der Große von Preußen ärgerte sich im 18. Jahrhundert über die hohen Zuckerpreise. Er beauftragte den Chemiker Margraf eine einheimische Pflanze zu suchen, die in größerer Menge Zucker enthält. Margraf gelang es 1747 die süßen Kristalle aus der Zuckerrübe zu isolieren. Später konnte sie so gezüchtet werden, dass sich die Zuckerausbeute lohnte. 1802 wurde die erste Rübenzuckerfabrik der Welt eröffnet. Es folgte ein Aufschwung der europäischen Rübenzuckerindustrie als die Kontinentalsperre 1806 die Einfuhr von karibischem Rohrzucker versperrte. Bis auf eine Zuckerfabrik mussten nach dem Ende der Sperre alle schließen. </p>
 
 <p align="left">Vor der Herstellung von Zucker kaute und lutschte man Zuckerrohr, um den süßen Geschmack zu genießen. In den Anbauländern findet man noch heute frische Zuckerrohre im Angebot: es wird häufig ein Erfrischungsgetränk hieraus gepresst. Heutzutage wird Zuckerrohr weltweit neben Südamerika auch in Asien, Afrika und Australien angebaut. Der Rohrzucker wird v. a. zum Süßen verwendet, als Basis für den Caipirinha, aber auch zum Dekorieren. Noch vor vielen hundert Jahren war Zucker reiner Luxus und wurde nur zu besonderen Anlässen genutzt. In Brasilien wird die Zuckerrohrpflanze außerdem zur Herstellung von Alkoholtreibstoff verwendet.  </p>
 
 <h2 align="left">Herstellung/Produktion</h2>
 <p align="left">Die Zuckerrüben decken heute fast unseren gesamten Zuckerbedarf in Deutschland: es werden jährlich etwa 4 Millionen Tonnen geerntet. Große Maschinen ernten die Rübenfelder auf etwa 400.000 Hektar zwischen Mitte September und Mitte Dezember. Eine spätere Ernte hat bei guter Witterung Vorteile, da der Zuckergehalt bei längerer Vegetationszeit steigt. Die Rübe muss schnell nach der Ernte verarbeitet werden, damit der Zuckeranteil nur geringfügig abgebaut wird. So vergehen von der Anlieferung in der Fabrik bis zum fertigen Zucker nur etwa zehn Stunden. In den Zuckerrüben steckt ein Zuckeranteil von etwa 20 Prozent. </p>
 
 <p align="left">Der weiße Zucker kann aus Zuckerrüben oder Zuckerrohr hergestellt werden. Nach der Säuberung gelangen die Zuckerrüben in die Schneidemaschine: Heraus kommen sogenannte Rübenschnitzel. In einem Turm wandern die Rübenschnitzel von unten nach oben, während heißer Wasserdampf über sie geleitet wird. Der Zucker tritt aus den Pflanzenzellen aus und löst sich im Wasser, das anschließend weiterverarbeitet wird. Das Zuckerrohr wird in einer großen Mühle zwischen großen Walzen in kleine Stücke zermahlen. Der Saft wird so aus den Rohren gepresst und anschließend weiterverarbeitet. Es verbleiben viele Fasern, die als Dünger verwendet werden. </p>
 
 <p align="left">In großen Kesseln wird die entstandene Zuckerlösung, der Rohsaft aus Zuckerrübe oder Zuckerrohr, erhitzt. Um den Zuckergehalt auf bis zu 70% zu steigern, wird der Rohsaft eingedickt. Diese braune Melasse wird mehrmals raffiniert: Bei Unterdruck und etwa 70 Grad Celsius bilden sich in einem Kessel langsam Zuckerkristalle aus reinem Haushaltszucker. Sind sie groß genug, werden sie vom restlichen Saft mit einer Zentrifuge getrennt und die Farbe des zurückbleibenden Zuckers verändert sich von dunklem Braun zu Weiß. Um besonders reinen Kristallzucker herzustellen – die <i>Raffinade</i> – wird der Weißzucker aufgelöst und nochmals auskristallisiert. </p>